<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Pipelines>
	<Pipeline name="pipeline1">
		<filters>
	      <filter>filter1</filter>
	      <filter>filter2</filter>
	      <filter>filter3</filter>
	    </filters>
	</Pipeline>
	<Pipeline name="pipeline2">
			<filters>
			  <filter>filter3</filter>
			  <filter>filter2</filter>
			  <filter>filter1</filter>
			  <filter>SampleFilter</filter>
			</filters>
		</Pipeline>
  </Pipelines>
</Configuration>

<!-- /Configuration/Pipelines/Pipeline[@name='pipeline1']/filters/*/text() !-->
