<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Pipelines>
		<Pipeline name="pipeline1">
			<filters>
		    	<filter>filter1</filter>
		    	<filter>filter2</filter>
		    	<filter>filter3</filter>
		    </filters>
		</Pipeline>
		<Pipeline name="TestPipeline">
			<filters>
				<filter>SampleFilter</filter>
				<filter>InvalidFilter</filter>
				<filter>SampleFilter</filter>
			</filters>
		</Pipeline>
		<Pipeline name="ContentObjectProcessor">
			<filters>
				<filter>Encrypter</filter>
				<filter>Signer</filter>
				<filter>Encoder</filter>
			</filters>
		</Pipeline>
	</Pipelines>
</Configuration>

<!-- /Configuration/Pipelines/Pipeline[@name='pipeline1']/filters/*/text() !-->
